
{% extends 'include/homepage.html' %}
{% load static %}
{% block content%}
  <div class="page-wrapper"> 
  
    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">x</div>
            <div id="handle-preloader" class="handle-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="R" class="letters-loading">
                            R
                        </span>
                        <span data-text-preloader="E" class="letters-loading">
                            E
                        </span>
                        <span data-text-preloader="S" class="letters-loading">
                            S
                        </span>
                        <span data-text-preloader="T" class="letters-loading">
                            T
                        </span>
                        <span data-text-preloader="O" class="letters-loading">
                            O
                        </span>
                        <span data-text-preloader="R" class="letters-loading">
                            R
                        </span>
                        <span data-text-preloader="I" class="letters-loading">
                            I
                        </span>
                        <span data-text-preloader="A" class="letters-loading">
                            A
                        </span>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <!-- Preloader End -->

    {% include 'include/header.html' %}

    <!--Info Back Drop-->
    <div class="info-back-drop"></div>
    
    <!-- Hidden Bar -->
    <section class="info-bar">
        <div class="inner-box">
            <div class="cross-icon"><span class="far fa-close"></span></div>
            <div class="image-box"><img src="images/resource/sidebar-image.jpg" alt="image" title=""></div>
            <div class="logo-box"><a href="index.html" title="Restoria - Restaurants HTML Template"><img src="images/resource/sidebar-logo.png" alt="image" title="Restoria - Restaurants HTML Template"></a></div>

            <h5>Visit Us</h5>
            <ul class="info">
                <li>Restoria, Arrondissement,<br>Paris 9578</li>
                <li> <span class="ib-ttl"> Lunch Time </span>- 10.00 am – 3:30 pm </li>
                <li><span class="ib-ttl"> Dinner Time</span> - 08.00 pm – 10:30 pm</li>
                <li><a href="mailto:booking@domainame.com">booking@domainame.com</a></li>
            </ul>
            <div class="booking-info">
                <div class="bk-no"><a href="tel:+88-123-123456">Booking: +88-123-123456</a></div>
            </div>
        </div>
    </section>
    <!--End Hidden Bar -->

    <!-- Inner Banner Section -->
    <section class="inner-banner">
        <div class="image-layer" style="background-image: url(images/background/banner-image-4.jpg);"></div>
        <div class="auto-container">
            <div class="inner">
                <h1>Contact Us</h1>
                <div class="sub_text"> <p> A taste of perfection in every dish - <span class="primary-color"> fine dining with a modern twist.</span></p> </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->


    <!--Contact Info Section-->
    <section class="contact-page section-kt">

        <!--Location form Section-->
        <div class="auto-container">
            <div class="c-page-form-box">
                <div class="row clearfix">

                <!--form image Section-->
                <div class="loc-block info-block col-lg-5 col-md-12 col-sm-12">
                    <div class="contact-image">
                        <img src="images/resource/restaurant.jpg" alt="image">
                    </div>
                    <h5> visit us </h5>
                    <div class="text">
                        Restoria, Arrondissement, Paris 9578 <br> <br> 
                        <span class="c-info-ttl"> Lunch Time </span> - 10.00 am – 3:30 pm <br>  <span class="c-info-ttl">Dinner Time </span> - 08.00 pm – 10:30 pm <br>  <br> 
                        <span class="more-link"> Booking : <a href="tel:+85-123-456789">+85-123-456789</a> </span> <br>  
                        <span class="more-link"> Email: <a href="mailto:booking@gmail.com">booking@gmail.com</a></span>

                    </div>
                </div>

                <!--Vertical line -->
                <div class="col-12 col-md-1 d-flex justify-content-center middle-line-wrapper">
                  <div class="middle-line-container">
                    <div class="dot top-dot"></div>
                    <div class="v-line"></div>
                    <div class="dot bottom-dot"></div>
                  </div>
                </div>

                <!--form Section-->
                <div class="loc-block col-lg-6 col-md-12 col-sm-12">
                    <div class="form-side">
                        <div class="title-box centered">
                            <div class="subtitle"><span>Write to us</span></div>
                            <h2>Message us</h2>
                            <div class="text desc">Contact us - we aim to reply within 24 hours and are happy to help!</div>
                        </div>
                        <div class="default-form reservation-form">
                            <form method="post" action="index.html">
                                <div class="clearfix">
                                    <div class="form-group">
                                        <div class="field-inner">
                                            <input type="text" name="fieldname" value="" placeholder="Your Name" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="field-inner">
                                            <input type="text" name="fieldname" value="" placeholder="Your Email" required="">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="field-inner">
                                            <input type="text" name="fieldname" value="" placeholder="Phone Number" required="">
                                        </div>
                                    </div>
                                
                                    <div class="form-group ">
                                        <div class="field-inner">
                                            <textarea name="fieldname" placeholder="Special Request" required=""></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="theme-btn btn-style-one clearfix">
                                            <span class="btn-wrap">
                                                <span class="text-one">send your message</span>
                                                <span class="text-two">send your message</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>

    </section>

    <!--Map Section-->
    <section class="contact-map">
                <div class="row clearfix">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81392.11276571127!2d-74.03116502768826!3d40.70144849986174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1667928043843!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
    </section>

    {% include 'include/footer.html' %}
</div>
<!--End pagewrapper--> 

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]--> 

{% endblock %}